.ma-two-col aside {
  padding: 0 0 $spacing-48 0; 
}

@media (min-width: $breakpoint-medium) {
  .ma-two-col {
    display: flex;
    flex-wrap: wrap;
  }

  .ma-two-col article {
    flex: 3;
  }

  .ma-two-col aside {
    padding: 7.5rem 0 $spacing-48 0;
    margin-left: $gutter-large;
    flex: 1;
  }

  .ma-about-blurb figure {
    display: flex;
  }

  .ma-about-blurb img {
    width: 258px;
    height: 258px;
    margin-right: $gutter-medium;
    border-radius: $border-radius-small;
  }
}

[data-title="Blog"],
[data-title="Tags"] {
  max-width: none;
}

