<!DOCTYPE html>
<html lang="en">
<head>
  {% set metaTitle %}{% if title %}{{ title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}{% endset %}
  {% metagen
      title=metaTitle,
      desc=description or site.description,
      url=url + page.url,
      img="/assets/images/" + image,
      img_alt=alt,
      twitter_card_type="summary_large_image",
      twitter_handle="peruvianidol",
      name=site.name
  %}
  <link rel="stylesheet" href="/assets/css/ma.css">
  <link rel="icon" href="{{ site.favicon }}" type="image/svg+xml" />
</head>
<body class="ma-styles">
  {% svgsprite %}
  <header>
    <h1><a href="/">Mike Aparicio</a></h1>
    <nav>
      <ul>
      {% for link in navigation %}
        <li><a href="{{ link.url }}"{% if link.url ===  page.url %} aria-current="page"{% endif %}>{{ link.name }}</a></li>
      {% endfor %}
      </ul>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>&copy; 2014&ndash;{% year %} All your rights are belong to us.</p>

    <ul role="list" class="ma-flex-row-8 ma-social-icons">
      <li><a href="https://twitter.com/peruvianidol" aria-label="Twitter">{% icon "twitter" %}</a></li>
      <li><a href="https://twitch.tv/peruvianidol" aria-label="Twitch">{% icon "twitch" %}</a></li>
      <li><a href="https://codepen.io/peruvianidol" aria-label="Codepen">{% icon "codepen" %}</a></li>
      <li><a href="https://github.com/peruvianidol" aria-label="Github">{% icon "github" %}</a></li>
      <li><a href="https://instagram.com/peruvianidol" aria-label="Instagram">{% icon "instagram" %}</a></li>
      <li><a href="https://letterboxd.com/peruvianidol" aria-label="Letterboxd">{% icon "letterboxd" %}</a></li>
      <li><a href="/feed.xml" aria-label="RSS">{% icon "rss" %}</a></li>
    </ul>
  </footer>

</body>
</html>