<section class="ma-inset-block">
  <h3 class="ma-heading-2 ma-stack-24">About Mike</h3>
  <div class="ma-flex-responsive" style="--flex-align: start; --flex-gap: 1.5rem">
    {% image "mike.webp", "Mike, smiling, wearing a black shirt against a gray backdrop.", null, null, null, null, "ma-margin-auto-on-small", "max-width: 215px" %}
    <div class="ma-flex-item ma-flow ma-text-sm">
      <p>Hello! I'm <strong>Mike Aparicio</strong>. I've been making websites for over 30 years and have found a niche at the intersection of design and engineering — building CSS-based design systems where engineers don't have to write CSS and helping product teams develop a shared language for building on the web. I run a design system consultancy called <a href="https://runtriangle.com">Triangle</a>.</p>

      <p>I write about design systems and CSS, as well as video games, movies, television, and parenting. If you enjoyed this article, consider supporting me on Kofi.</p>

      <p><a href="https://ko-fi.com/J3J5C78V9" target="_blank">{% image "kofi.webp", "Support me on Kofi", null, null, null, null, "ma-kofi-button" %}</a></p>
    </div>
  </div>
</section>
