---
layout: base
---

<article>
  <div>
    <h2>{{ title }}</h2>
    <p>{{ date | postDate }}</p>
    <ul>
      {% for tag in tags %}
        <li>{{ tag }}</li>
      {% endfor %}
    </ul>
  </div>

  {{ content | safe }}
</article>

{% include 'bio.njk' %}