@font-face {
  font-family: 'Really Sans Large';
  src: url('/fonts/ReallySansLarge-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Really Sans Small';
  src: url('/fonts/ReallySansSmall-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: 'Really Sans Small';
  src: url('/fonts/ReallySansSmall-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

html, body {
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: 'Really Sans Small', sans-serif;
  min-height: 100vh;
  min-width: $site-min-width;
  color: $color-black;
  font-size: $text-medium-font-size;
  line-height: $text-medium-line-height;
}

@media (min-width: $breakpoint-medium) {
  body {
    font-size: $text-large-font-size;
    line-height: $text-large-line-height;
  }
}

.ma-skip-link:not(:focus), .ma-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

main:focus {
  outline: 0;
}

table {
  border-spacing: 0;
}

th, td {
  vertical-align: top;
  border-bottom: 1px solid $color-dark-gray;
  padding: $spacing-16;
  font-size: $text-medium-font-size;
  line-height: $text-medium-line-height;
}

td:not(:last-child) {
  border-right: 1px solid $color-dark-gray;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: $spacing-24;
}