.ma-flex,
.ma-space-between {
  --flex-align: center;
  --flex-gap: #{$space-8};
  --flex-wrap: none;
  display: flex;
  align-items: var(--flex-align);
  gap: var(--flex-gap);
  flex-wrap: var(--flex-wrap);
}

.ma-space-between,
.ma-space-between-responsive {
  justify-content: space-between;
}

.ma-flex-responsive,
.ma-space-between-responsive {
  --flex-align: center;
  --flex-gap: #{$space-8};
  display: flex;
  flex-direction: column;
  align-items: var(--flex-align);
  gap: var(--flex-gap);
}

@media (width >= 700px) {
  .ma-flex-responsive,
  .ma-space-between-responsive {
    flex-direction: row;
  }
  .ma-flex-align-end-on-large {
    --flex-align: end;
  }
}

.ma-flex-item {
  flex: 1;
}
