@use '../abstracts/tokens' as *;

.ma-surface-brand {
  background-color: var(--color-background-brand, #{$color-background-brand});
}

.ma-surface {
  background-color: var(--color-background-surface, #{$color-background-surface});
}

.ma-border-block {
  border-block: $border-width-thin solid var(--color-text-accent, #{$color-border-accent});
}

.ma-scale-on-hover {
  transition: all .1s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
@media (min-width: $breakpoint-medium) {
  :where(.ma-float-right) {
    float: right;
    margin-inline-start: var(--gutter);
    width: 50%;
  }
  :where(.ma-float-left) {
    float: left;
    margin-inline-end: var(--gutter);
    width: 50%;
  }
}