@use '../abstracts/tokens' as *;

.ma-surface-brand {
  background-color: $color-background-brand;
}

.ma-surface {
  background-color: $color-background-surface;
}

.ma-border-block {
  border-block: $border-width-thin solid $color-border-accent;
}

.ma-scale-on-hover {
  transition: all .1s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
@media (min-width: $breakpoint-medium) {
  :where(.ma-float-right) {
    float: inline-end;
    margin-inline-start: var(--gutter);
    width: 50%;
  }
  :where(.ma-float-left) {
    float: inline-start;
    margin-inline-end: var(--gutter);
    width: 50%;
  }
}