[class*="ma-text-button"] {
  font-size: $text-medium-font-size;
  line-height: $text-medium-line-height;
  font-weight: $font-weight-bold;
  text-decoration: none;
  color: $color-dark-blue;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  padding: $spacing-8 0;
}

.ma-text-button-right {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='9 6 15 12 9 18' /%3E%3C/svg%3E");
  background-position: top 50% right 0;
  padding-right: $spacing-24;
}