.ma-nav a {
  color: inherit;
  text-decoration: none;
  font-weight: $font-weight-bold;
  font-size: $text-large-font-size;
  line-height: $text-large-line-height;
  display: block;
  padding: $spacing-12 0;
  position: relative;
}

.ma-nav a:hover:after {
  content: "";
  display: block;
  border-bottom: 2px solid currentColor;
  position: absolute;
  bottom: $spacing-8;
  width: 100%;
}