[class*="ma-wedge"] {
  position: relative;
}

.ma-wedge-top::before,
.ma-wedge-bottom::after {
  position: absolute;
  pointer-events: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: false;
  content: '';
  height: 504px;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

[class*="ma-wedge"] header, 
[class*="ma-wedge"] footer {
  background-color: transparent;
}

[class*="ma-wedge"] main {
  padding-bottom: 125px;
}

.ma-wedge-top::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5670' height='504' fill='rgb(217,16,35)' fill-opacity='1'%3E%3Cpolygon points='0,0 5670,0 0,504'%3E%3C/polygon%3E%3C/svg%3E");
  top: 0;
}

.ma-wedge-bottom::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5670' height='504' fill='rgb(217,16,35)' fill-opacity='1'%3E%3Cpolygon points='5670,504 0,504 5670,0'%3E%3C/polygon%3E%3C/svg%3E");
  bottom: 0;
}