{% set postListItems = collections.posts %}

{% if postListItems.length %}
    <ol reversed class="ma-grid-3">
      {% for item in postListItems %}
        {% if loop.index0 <= 2 %}
          {% if item.date.getTime() <= global.now %}
            <li>
              <figure class="ma-card">
                <div class="ma-frame">
                  <a href="{{ item.url }}" rel="bookmark">
                    <img src="{{ item.data.thumbnail }}" alt="{{ item.data.thumbnailAlt }}" loading="lazy" width="480" height="270">
                  </a>
                </div>
                <figcaption class="ma-flow-4 ma-text-medium">
                <p><time datetime="{{ item.date | w3DateFilter }}" class="ma-text-small-subdued">{{ item.date | date('MMMM D, YYYY') }}</time></p>
                <p class="ma-heading-3"><a href="{{ item.url }}" rel="bookmark">{{ item.data.title }}</a></p>
                <p>{{ item.data.description }}</p>
              </figcaption>
            </figure>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ol>
{% endif %}