* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  font-size: 125%;
}
body {
  margin: 0;
  padding: 2rem;
  font-family: "Really Sans Small", sans-serif;
  line-height: 1.5;
}

body *:not(:last-child):not(li) {
  margin-bottom: 1.5rem;
  max-width: 60ch;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  padding: 0 0 0 1em;
}

h1, h2, h3 {
  font-family: "Really Sans Large", sans-serif;
}