@import "abstracts/tokens";
@import "base/reset";
@import "base/global";
@import "components/social-icons";
@import "utilities/flexbox";
@import "vendor/nightowl";

.ma-styles {
  padding: 2rem;
  max-width: 65ch;
  > :not(:last-child),
  > * > :not(:last-child),
  article > :not(:last-child) {
    margin-bottom: $spacing-24;
  }
}

.anchor {
  display: block;
  color: currentColor;
  text-decoration: none;
  position: relative;
  &:before {
    display: block;
    content: "#";
    position: absolute;
    right: 100%;
    top: 0;
    padding-right: .25rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  &:hover {
    color: blue;
    &:before {
      opacity: 1;
    }
  }
}

.logo {
  width: 132px;
  height: 161px;
}