<aside class="ma-flow-24">
  <ul class="ma-flow-4" role="list">
    <li><a href="https://twitter.com/peruvianidol" rel="me" class="ma-flex-small"><svg class="ma-icon-24" aria-hidden="true"><use xlink:href="#icon-twitter"></use></svg><span>Twitter</span></a></li>
    <li><a href="https://twitch.tv/peruvianidol" rel="me" class="ma-flex-small"><svg class="ma-icon-24" aria-hidden="true"><use xlink:href="#icon-twitch"></use></svg><span>Twitch</span></a></li>
    <li><a href="https://github.com/peruvianidol" rel="me" class="ma-flex-small"><svg class="ma-icon-24" aria-hidden="true"><use xlink:href="#icon-github"></use></svg><span>Github</span></a></li>
    <li><a href="https://codepen.io/peruvianidol" rel="me" class="ma-flex-small"><svg class="ma-icon-24" aria-hidden="true"><use xlink:href="#icon-codepen"></use></svg><span>CodePen</span></a></li>
    <li><a href="https://instagram.com/peruvianidol" rel="me" class="ma-flex-small"><svg class="ma-icon-24" aria-hidden="true"><use xlink:href="#icon-instagram"></use></svg><span>Instagram</span></a></li>
    <li><a href="https://letterboxd.com/peruvianidol" rel="me" class="ma-flex-small"><svg class="ma-icon-24" aria-hidden="true"><use xlink:href="#icon-letterboxd"></use></svg><span>Letterboxd</span></a></li>
  </ul>
</aside>