{% set pageTitle = title + ' - ' + site.name %}

{# We don't want any duplication. This is likely for the home page. #}
{% if site.name === title %} 
  {% set pageTitle = title %}
{% endif %}

{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{# If the page’s Front Matter has specific metaTitle and/or description items, switch 
  them into the mix. #}
{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if not description %}
  {% set description = site.description %}
{% endif %}


<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}" />
<link rel="icon" href="/images/meta/ma-favicon.svg" type="image/svg+xml" />

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{% if thumbnail %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ thumbnail }}" />
  <meta name="twitter:image" content="{{ thumbnail }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}

{% if description %}
  <meta name="description" content="{{ description }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta property="og:description" content="{{ description }}" />
{% endif %}
