<section class="ma-page-footer"> 
  <div class="ma-about-blurb ma-container">
    <figure>
      <img src="/images/headshot-2021.jpg" alt="Portrait of Mike">
      <figcaption class="ma-flow-16 ma-text-medium">
        <h2 class="ma-heading-3">Thanks for reading!</h2>

        <p>I'm <strong>Mike Aparicio</strong>, Senior Design Systems Engineer at Provi. I'm interested in helping companies large and small improve collaboration between design and engineering through the use of design systems. I write about web design and development, video games, pop culture, and other things I find interesting. I live in the Chicago area with my wife, two sons, and two dogs.</p>

        <p>You can find me on Twitter and most other places as <strong>@peruvianidol</strong>.</p>

 <!-- Begin Mailchimp Signup Form -->

  {# <form action="https://gmail.us17.list-manage.com/subscribe/post?u=667ab61a802c633be587231ef&amp;id=ae02d00de5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <label for="mcs-EMAIL" class="ma-heading-4 ma-stack-8">Get new blog posts via email</label>
    <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="email address" required>
    <input type="text" name="b_667ab61a802c633be587231ef_ae02d00de5" tabindex="-1" style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
  </form> #}

  <!--End mc_embed_signup-->

      </figcaption>
    </figure>
  </div>
</section>