<div class="ma-flex ma-style-tile">

  <div class="ma-grid ma-flex-item">
    <div class="ma-card ma-heading-1 ma-surface-brand ma-text-inverse">1</div>
    <div class="ma-card ma-heading-1">2</div>
    <div class="ma-card ma-heading-1">3</div>
    <div class="ma-card ma-heading-1">4</div>
  </div>

  <div class="ma-flex-item ma-flow ma-text-regular">
    <div>
      <h2 class="ma-text-largest ma-flex-small">
        <div class="ma-surface-brand ma-radius-round ma-aspect-square" style="width: 1em"></div>
        <span class="ma-text-brand">Brand</span>
      </h2>
      <h2 class="ma-text-largest ma-flex-small">
        <div class="ma-surface-regular ma-radius-round ma-aspect-square" style="width: 1em"></div>
        <span>Text Regular</span>
      </h2>      
      <h2 class="ma-text-largest ma-flex-small">
        <div class="ma-surface-subdued ma-radius-round ma-aspect-square" style="width: 1em"></div>
        <span class="ma-text-subdued">Text Subdued</span>
      </h2>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut qui magni cum illo nostrum accusantium debitis possimus, cupiditate esse at quia corporis beatae! Enim nostrum maxime quas, ipsam adipisci corporis.</p>

    <p class="ma-text-subdued">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam modi quaerat explicabo nihil sit architecto alias, nam quas aut dicta, consectetur esse deserunt cumque, neque voluptatem dolor reiciendis aspernatur ratione?</p>
  </div>

</div>