/* 
  Based on A Modern CSS Reset by Andy Bell
  https://hankchizljaw.com/wrote/a-modern-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, svg, video {
  max-width: 100%;
  display: block;
  flex-shrink: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Additional resets by yours truly */

/* Reset heading styles to encourage separation of semantics from visual treatment. You have to use a class for style. */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

img, video {
  width: 100%;
  height: auto;
}

ul:not([class]),
ol:not([class]) {
  padding-left: $spacing-16;
}