a {
  color: $color-dark-blue;
}

a:hover {
  color: $color-medium-blue;
}

strong {
  font-weight: $font-weight-bold;
}

blockquote:not([class]) {
  border-left: $spacing-8 solid $color-chicago-blue;
  padding: $spacing-24 $spacing-32 $spacing-24 $spacing-24;
  font-size: $text-medium-font-size;
  line-height: $text-medium-line-height;
  background-color: $color-khaki;
}

@media (min-width: $breakpoint-medium) {
  blockquote:not([class]) {
    padding: $spacing-24 $spacing-32 $spacing-24 $spacing-24;
    margin-left: $spacing-32;
    margin-right: $spacing-64;  
    font-size: $heading-3-font-size;
    line-height: 1.5;
    }
}

code {
  background-color: $color-black;
  color: $color-khaki;
  padding: $spacing-4;
  border-radius: $border-radius-medium;
}