@use '../abstracts/tokens' as *;

[data-layout="home"] {
  section:nth-of-type(4),
  section:nth-of-type(5) {
    padding-block-end: calc(var(--gutter) * 2);
  }
}

@media (max-width: calc(#{$breakpoint-medium} - 1px)) {
  [data-layout="home"] {
    header {
      margin-block-end: calc(var(--gutter) / 2);
    }
  }
}