@use '../abstracts/tokens' as *;

@media (min-width: $breakpoint-medium) {
  [data-layout="post"] {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

[data-layout="post"] header,
[data-layout="page"] header {
  border-bottom: $border-width-thin solid var(--color-text-accent, #{$color-border-accent});
  background-color: var(--color-background-brand, #{$color-background-brand});
  margin-bottom: var(--gutter);
  .ma-text-stretched {
    color: var(--color-text-accent, #{$color-text-accent});
  }
  nav a {
    color: var(--color-text-accent, #{$color-text-accent});
    &:hover {
      color: var(--color-text-body, #{$color-text-body});
    }
  }
}

[data-layout="post"] main {
  width: 100%;
  max-inline-size: min(100% - (var(--gutter) * 2), #{$size-max-width});
  margin-inline: auto;
  display: grid;
  gap: var(--gutter);
}

@media (min-width: $breakpoint-medium) {

  [data-layout="post"] main {
    grid-template-columns: 4fr 1fr;
  }

}