{% set assetHash = global.random() %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "partials/meta-info.html" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
    <link rel="stylesheet" media="print" href="/css/ma.css?{{ assetHash }}" onload="this.media='all'" />
    <style>{% include "css/critical.css" %}</style>
    {# Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <style>{% include item %}</style>
      {% endfor %}
    {% endif %}
    <link rel="preload" href="/fonts/ReallySansLarge-Black.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/ReallySansSmall-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/ReallySansSmall-Regular.woff2" as="font" type="font/woff2" crossorigin>    
    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
      {% endfor %}
    {% endif %}
    <script src="/js/lite-yt-embed.js"></script>
  </head>
  <body>
    
    <div class="ma-wrapper{% if page.url == "/" %} ma-wedge-top ma-wedge-bottom{% endif %}">
      {% include "partials/icon-sprite.svg" %}

      {% include "partials/site-head.html" %}

      {% block content %}{% endblock %}

      {% include "partials/site-footer.html" %}
    </div>
  </body>
</html>