{% extends "layouts/base.html" %} 

{% set pageHeaderTitle = title %}

{% block content %}
<main tabindex="-1" id="main-content" class="ma-two-col">
  <article class="ma-flow-24">
    <h1 class="ma-heading-2">
      {{ pageHeaderTitle }}
    </h1>
    {{ content | safe }}
  </article>
  <aside>
    <p class="ma-date ma-stack-8">{{ date | date('MMMM D, YYYY') }}</p>
    <ul class="ma-tag-list">
    {% if tags %}
      {% for tag in tags %}
        {% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
        <li><a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a></li>
      {% endfor %}
    {% endif %}
    </ul>
  </aside>
</main>

{% include "partials/page-footer.html" %}

{% endblock %}