---
title: About
---

<figure class="ma-float-left" style="max-width: 200px">
  {% image "mike.webp", "Mike, smiling, wearing a black shirt against a gray backdrop." %}
</figure>

<p>Hello! I'm Mike Aparicio. I've been making websites for over 30 years and have found a niche at the intersection of design and engineering &mdash; building CSS-based design systems where engineers don't have to write CSS and helping product teams develop a shared language for building on the web.</p>

<p>While I work in tech, my background is in journalism and theater. I studied sports journalism in hopes of one day getting paid to watch and write about the NBA, until I realized people would actually pay me to make websites. I also completed the conservatory and writing programs at Second City. This odd combination of skills has helped me <a href="/blog">write</a> and <a href="/speaking">speak</a> about web development, and occasionally make a <a href="/comedy">dumb video</a>.</p>

<p>In my free time I enjoy <a href="https://letterboxd.com/peruvianidol">watching movies</a> and TV, and playing video games. Every year I do a 24-hour gaming marathon called <a href="/extra-life">Extra Life</a> to raise money for my local children's hospital. To date I've raised over <strong>$50,000</strong> to support Lurie Children's Hospital in Chicago to honor the memory of my daughter, Olivia.</p>

<p>I live in the Chicago area with my two sons and two dogs.</p>
