---
title: Extra Life
---

On August 26, 2014 my daughter, Olivia Josephine Aparicio, was born prematurely at 24 weeks. Although she received world-class care in the NICU at Lurie Children's Hospital in Chicago, she passed away on Halloween due to complications from her prematurity.

<figure class="ma-float-right">
  {% image "olivia-foot.jpg", "Olivia's tiny foot" %}
</figure>

To honor her memory, I have been participating in Extra Life each year since she was born. Extra Life is a 24-hour gaming marathon dedicated to raising money for children's hospitals. To date, Team Olivia (Bert Fanslow, Alan Spadoni and I) have raised over **$50,000** for Lurie Children's Hospital, thanks to the generousity of countless friends and strangers.

Each August 26, I commemmorate Olivia's birthday with a 12-hour stream on Twitch and YouTube where I match donations. And on the first Saturday of November, I do a 24-hour stream to try and reach or exceed our annual goal.

You can find my campaign at [https://extra-life.org/participant/peruvianidol](https://extra-life.org/participant/peruvianidol) if you'd like to donate at any time. And if you'd like to join Team Olivia or start your own campaign to support your local children's hospital, you can do so at [https://extra-life.org/team/olivia](https://extra-life.org/team/olivia).

Thanks so much for your support.

## Related Posts { .ma-heading-2 }

* [Halloween](/posts/2024-10-31-halloween)
* [10 years of Extra Life](/posts/2023-08-07-ten-years-of-extra-life)
* [Four Years](/posts/2018-08-26-four-years)
