---
title: Mike Aparicio
permalink: /
---

<p>Hi! I'm Mike Aparicio, a Chicago-based web developer interested in helping companies large and small improve collaboration between design and engineering through the use of design systems.</p>


<h2>Writing</h2>

{% for post in collections.posts %}
  <p><a href="{{ post.url }}">{{ post.data.title }}</a></p>
{% endfor %}


<h2>Working</h2>

<p>I have over 25 years experience making websites for individual entrepreneurs to large companies and everything in between. I'm currently the Senior Design Systems Engineer at <a href="https://provi.com/">Provi</a>.</p>

<p><a href="https://www.mikeaparicio.com/work">Read more about the work I've done</a> at Groupon, The American Association of Oral and Maxillofacial Surgeons and elsewhere.</p>

{% include '_src/_includes/partials/speaking.html' %}