---
title: Projects
---

<p>Coming soon.</p>
https://youtu.be/i9Z661jhSzQ?si=3Hd0lvPMuiOyhjCP (Clarkst.map)
https://web.archive.org/web/19970618235830/http://www.prairienet.org/~maparici/homepage.html
