.ma-footer {
  color: $color-white;
  text-align: center;
  font-size: $text-small-font-size;
  line-height: 32px;
  background-color: $color-peru-red;
}

.ma-footer .ma-container {
  padding: $spacing-24 $spacing-16;
}

.ma-footer svg {
  border: 2px solid $color-white;
  border-radius: 50%;
}

.ma-footer a {
  transition: transform .1s ease-in-out;
}

.ma-footer a:hover svg {
  transform: scale(1.1);
}

@media (min-width: $breakpoint-medium) {
  .ma-footer .ma-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  nav.ma-stack-16 {
    margin-bottom: 0;
  }
}