label {
  display: block;
}

input[type="email"] {
  display: inline-block;
  border: 1px solid $color-dark-gray;
  padding: $spacing-4 $spacing-16;
  margin-right: $spacing-8;
  margin-bottom: $spacing-4;
}

input[type="submit"] {
  border: 1px solid transparent;
  padding: $spacing-4 $spacing-16;
  background-color: $color-medium-blue;
  color: $color-white;
  margin-bottom: $spacing-4;
}

input[type="submit"]:hover {
  background-color: $color-dark-blue;
}