.ma-hero {
  display: grid;
  grid-template-columns: 2fr auto;
  grid-gap: $gutter-small;
  place-items: center right;
  margin-top: $spacing-24;
}

.ma-hero figcaption {
  grid-column-start: 1;
  grid-row-start: 1;
  background-color: $color-white;
  padding: $spacing-16;
  border: $border-width-medium solid black;
  border-radius: $border-radius-small;
  box-shadow: 4px 4px 0 0 rgba(0,0,0,.25);
  font-size: 3vw;
  line-height: 1.5;
}

.ma-hero svg {
  grid-column-start: 2;
  grid-row-start: 1;
  width: 21.3vw;
  height: 30vw;
  transform: rotate(5deg);
}

@media (min-width: $breakpoint-medium) {
  .ma-hero {
    grid-gap: $gutter-large;
    margin-top: 0;
  }
  .ma-hero figcaption {
    padding: $spacing-24;
  }
}

@media (min-width: $container-max-width) {
  .ma-hero {
    grid-template-columns: 2fr auto;
  }
  .ma-hero figcaption {
    font-size: 32px;
    line-height: 48px;
  }
  .ma-hero svg {
    width: 196px;
    height: 276px;
  }
}

@media (max-width: $site-min-width) {
  .ma-hero figcaption {
    font-size: 12px;
    line-height: 1.5;
  }
  .ma-hero svg {
    width: 77px;
    height: 108px;
  }
}