.ma-nav a {
  color: $color-white;
  text-decoration: none;
  font-weight: $font-weight-bold;
  font-size: $text-large-font-size;
  line-height: $text-large-line-height;
  display: block;
  padding: $spacing-12 0;
  position: relative;
}

.ma-nav a:hover:after {
  content: "";
  display: block;
  border-bottom: 4px solid $color-gold;
  position: absolute;
  bottom: $spacing-8;
  width: 100%;
}

@media (min-width: $breakpoint-medium) {
  .ma-nav a {
    font-size: $heading-3-font-size;
    line-height: $heading-3-line-height;     
  }
  .ma-nav a:hover:after {
    bottom: 0;
  }  
}