main, footer {
  padding: 0 $gutter-small;
}

.ma-wrapper {
  overflow-y: scroll;
}

@media (min-width: $breakpoint-medium) {
  .ma-wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, $container-max-width) 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  .ma-wrapper header {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .ma-wrapper main {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .ma-wrapper .ma-page-footer {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  .ma-wrapper footer {
    grid-column: 1 / 4;
    grid-row: 4;
  }
}

.ma-page-footer {
  background-color: $color-black;
  color: $color-white;
  padding: $spacing-24 $spacing-16;
}
.ma-page-footer img {
  width: 100%;
  border: 2px solid $color-white;
  margin-bottom: $spacing-24;
}

.ma-page-footer figcaption {
  max-width: 75ch;
}