@use '../abstracts/tokens' as *;

.ma-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-8;
}

.ma-tag {
  display: inline-block;
  background-color: var(--color-background-brand, #{$color-background-brand});
  color: var(--color-text-body, #{$color-text-body});
  text-decoration: none;
  padding: $spacing-4 $spacing-8;
  border-radius: var(--radius, #{$border-radius-small});
  &:hover {
    background-color: var(--color-background-brand-highlight, #{$color-background-brand-highlight});
  }
}