@font-face {
  font-family: 'Really Sans Large';
  src: url('/assets/fonts/ReallySansLarge-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Really Sans Large';
  src: url('/assets/fonts/ReallySansLarge-Black.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('/assets/fonts/FunnelSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('/assets/fonts/FunnelSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Funnel Sans';
  src: url('/assets/fonts/FunnelSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
