<aside>
  <figure>
    <img src="/images/with-allie.jpg" alt="My wife and me">
    <figcaption>w/ Allie</figcaption>
  </figure>
  <figure>
    <img src="/images/joe.jpg" alt="My oldest son">
    <figcaption>Joe</figcaption>
  </figure>
  <figure>
    <img src="/images/ryan-eyes.jpg" alt="My youngest son">
    <figcaption>Ryan</figcaption>
  </figure>
  <figure>
    <img src="/images/emily.jpg" alt="Our miniature labradoodle">
    <figcaption>Emily</figcaption>
  </figure>
  <figure>
    <img src="/images/geno.jpg" alt="Our boxer">
    <figcaption>Geno</figcaption>
  </figure>
</aside>