<figure>
  <img src="/images/headshot.jpg" alt="Portrait of Mike">
  <figcaption>
    <h4>Thanks for reading!</h4>

    <p>I'm Mike Aparicio, Senior Design Systems Engineer at Provi. I'm interested in helping companies large and small improve collaboration between design and engineering through the use of design systems. I write about web design and development, video games, pop culture, and other things I find interesting. I live in the Chicago area with my wife, two sons, and two dogs.</p>

    <p>You can find me on Twitter and most other places as @peruvianidol.</p>
  </figcaption>
</figure>