<footer class="ma-footer">
  <div class="ma-container">
    <nav class="ma-stack-16">
      <ul class="ma-flex-small ma-justify-center">
        <li><a href="https://twitter.com/peruvianidol" rel="me"><svg class="ma-icon-32" aria-hidden="true"><use xlink:href="#icon-twitter"></use></svg><span class="ma-visually-hidden">Twitter</span></a></li>
        <li><a href="https://instagram.com/peruvianidol"><svg class="ma-icon-32" aria-hidden="true"><use xlink:href="#icon-instagram"></use></svg><span class="ma-visually-hidden">Instagram</span></a></li>
        <li><a href="https://codepen.io/peruvianidol"><svg class="ma-icon-32" aria-hidden="true"><use xlink:href="#icon-codepen"></use></svg><span class="ma-visually-hidden">Codepen</span></a></li>
        <li><a href="https://github.com/peruvianidol" rel="me"><svg class="ma-icon-32" aria-hidden="true"><use xlink:href="#icon-github"></use></svg><span class="ma-visually-hidden">Github</span></a></li>
        <li><a href="https://letterboxd.com/peruvianidol"><svg class="ma-icon-32" aria-hidden="true"><use xlink:href="#icon-letterboxd"></use></svg><span class="ma-visually-hidden">Letterboxd</span></a></li>
        <li><a href="/feed.xml"><svg class="ma-icon-32" aria-hidden="true"><use xlink:href="#icon-rss"></use></svg><span class="ma-visually-hidden">RSS</span></a></li>
      </ul>
    </nav>
    
    <p>&copy; 2014&ndash;2020 All your rights are belong to us.</p>
  </div>
</footer>