<footer class="ma-footer ma-container">
  <nav class="ma-stack-16">
    <ul class="ma-flex-small ma-justify-center">
      <li><a href="https://twitter.com/peruvianidol"><svg class="ma-icon-32"><use xlink:href="#icon-twitter"></use></svg></a></li>
      <li><a href="https://instagram.com/peruvianidol"><svg class="ma-icon-32"><use xlink:href="#icon-instagram"></use></svg></a></li>
      <li><a href="https://codepen.io/peruvianidol"><svg class="ma-icon-32"><use xlink:href="#icon-codepen"></use></svg></a></li>
      <li><a href="https://github.com/peruvianidol"><svg class="ma-icon-32"><use xlink:href="#icon-github"></use></svg></a></li>
      <li><a href="https://letterboxd.com/peruvianidol"><svg class="ma-icon-32"><use xlink:href="#icon-letterboxd"></use></svg></a></li>
      <li><a href="/feed.xml"><svg class="ma-icon-32"><use xlink:href="#icon-rss"></use></svg></a></li>
    </ul>
  </nav>
  
  <p>&copy; 2014&ndash;2020 All your rights are belong to us.</p>
</footer>